
.list-interest {
  /* background-color: rgb(250, 250, 250); */
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color:rgb(105, 89, 89);
  text-decoration: none;

}
.link-interest{
  text-decoration: none;
  display: flex;
  padding:4px 8px;
  border:1px solid grey;
  justify-content: space-between;
  color:rgb(105, 89, 89);
}
.link-interest:hover {
    text-decoration: underline;
    color:blue;
}